* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: system-ui, sans-serif;
}

.display {
	width: 100%;
	height: 70px;
	font-size: 32px;
	padding: 12px;
	display: flex;
	justify-content: flex-end;
	color: white;
	border-radius: 4px;
	background-color: rgb(57, 92, 128);
}

#calculator {
	padding: 24px;
	width: 500px;
	height: 595px;
	gap: 32px;
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	border: 1px solid black;
	background-color: #1f1e1e;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row:last-child::before {
	width: 40px;
	height: 40px;
}

.button {
	padding: 0;
	width: 95px;
	height: 85px;
	cursor: pointer;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: rgb(56, 121, 56);
	border-radius: 6px;
	border: 3px solid rgb(39, 77, 55);
}
